.main-header{
    /* // position: fixed;
    // top: 0;
    // left: 0; */
    width: 100%;

    display: flex;
    /* // align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    background-color: #2A2438;
    position: relative;
    padding: 8px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: rgba(42,36,56,.8);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
}

.main-header-desktop .header-logo-wrap{
    /* // display: inline-block;
    // padding: 25px; */
    width: 100%;
    text-align: center;
}
.main-header-desktop .header-logo-inner-wrap{
    background-color: #dbd8e3;
    padding: 15px;
    display: inline-block;
}
.main-header-desktop .header-logo{
    border: 5px solid #2A2438;
    width: 150px;
}
.main-header-desktop .header-logo-nottop{
    height: 70px;
    object-fit: cover;
    object-position: center;
}


.main-header-phone .header-logo-wrap{
  /* // display: inline-block;
  // padding: 25px; */
  width: 100%;
  text-align: center;
}
.main-header-phone .header-logo-inner-wrap{
  background-color: #dbd8e3;
  padding: 2.5px;
  display: inline-block;
}
.main-header-phone .header-logo{
  border: 5px solid #2A2438;
  width: 80px;
}
.main-header-phone .header-logo-nottop{
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.header-menu-wrap{
    width: 100%;
}
.header-menu-ul{
    list-style: none;
    padding: 0;
    /* // display: flex; */
}
.header-menu-li{
    text-align: center;
    color: #dbd8e3;
    font-weight: 700;
    /* // padding: 15px 0; */
    height: 50px;
    cursor: pointer;
    transition: .5s all ease;
}
.header-menu-li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    height: inherit;
    width: 100%;
    text-decoration: none;
}
.header-menu-li a:hover{
    color: inherit;
}
.header-menu-li.selected, .header-menu-li:hover{
    color: #2A2438;
    background-color: #dbd8e3;
}
/* // .header-menu-li.hover{
//     background-color: #FFF;
// }
// .header-menu-li.selected{
//     background-color: #FFF;
// } */

.footer-main-wrap{
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
}
.footer-cp{
    text-align: center;
    margin-bottom: 0;
    color: #dbd8e3;
}
.footer-cp-a{
    color: #FFF;
    transition: .5s all ease;
}
.footer-cp-a:hover{
    color: #FFF;
    text-shadow: 0px 1px 1px #4d4d4d;
    text-decoration: none;
}
.scroll-top-arrow{
    position: fixed;
    bottom: 60px;
    right: 25px;
    height: 20px;
    width: 20px;
    z-index: 5;
}

.main-header-desktop{
  display: none;
  height: 100vh;
  padding: 25px 0;
}


@media (max-width:300px)  {
  /* fold devices */

}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  .main-header{
    padding: 0;
    position: relative;
    left: null;
    top: null;
    background-color: #2A2438;
  }
  .main-header-desktop{
    display: flex;
  }
  .main-header-phone{
    display: none;
  }
  .header-logo-wrap{
    margin-top: 25px;
  }
  .scroll-top-arrow{
    bottom: 25px;
  }
}
