.header-outline {
  border-image: linear-gradient(#fff, #000) 30;
}
@media (prefers-color-scheme: dark) {
  .header-outline {
    border-image: linear-gradient(#000, #fff) 30;
  }
}

.progress {
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 0;
  width: 100%;
}