<aside class="flex flex-wrap flex-column justify-center h-screen w-full py-2 bg-light-color text-dark-color dark:bg-dark-color dark:text-light-color hidden xl:block border-4 border-solid" style="border-image: linear-gradient(#fff, #000) 30;">
    <div class="p-2 border-[15px] border-dark-color dark:border-light-color mx-4">
      <a href="https://ranemihirk.com/">
        <img src="../../assets/images/logo.png" alt="" class="bg-light-color aspect-square">
      </a>
    </div>
    <div class="h-4/6 grow self-end">
      <div class="flex flex-wrap items-end h-full">
        <ul class="p-0 w-full">
          <li class="h-12 w-full"><a href="#about" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">About Me</a></li>
          <li class="h-12 w-full"><a href="#experience" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">Experience</a></li>
          <li class="h-12 w-full"><a href="#projects" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">Projects</a></li>
          <li class="h-12 w-full"><a href="#skills" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">Skills</a></li>
          <li class="h-12 w-full"><a href="#contact" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">Get in Touch</a></li>
        </ul>
        <div class="py-5 w-full">
          <p class="text-center">Developed By</p>
          <h3 class="text-lg font-medium text-center subpixel-antialiased text-dark-color dark:text-light-color">Mihir Rane</h3>
        </div>
      </div>
    </div>
</aside>
