<section class="main-header">
    <div class="header-logo-wrap">
        <div class="header-logo-inner-wrap">
            <a href="https://ranemihirk.com/">
                <img src="../../assets/images/logo.png" alt="" class="header-logo">
            </a>
        </div>
    </div>
    <div class="header-menu-wrap">
        <ul class="header-menu-ul">
            <!-- <li class="header-menu-li" (click)="clickSection($event, 'home-section');">Home</li> -->
            <li class="header-menu-li"><a href="#about">About Me</a></li>
            <li class="header-menu-li"><a href="#experience">Experience</a></li>
            <li class="header-menu-li"><a href="#skills">Skills</a></li>
            <li class="header-menu-li"><a href="#contact">Get in Touch</a></li>
        </ul>
    </div>
    <div class="footer-main-wrap">
        <!-- <p class="footer-cp">A <a href="#">Mihir Rane</a> production.</p> -->
        <p class="footer-cp">Developed</p><p class="footer-cp">by</p><p class="footer-cp"><a class="footer-cp-a" href="#">Mihir Rane</a>.</p>
    </div>
</section>
<a class="scroll-top-arrow" href="#home"></a>
