<aside class="flex flex-wrap flex-column justify-center h-screen w-full py-2 bg-light-color text-dark-color dark:bg-dark-color dark:text-light-color hidden xl:block">
    <div class="p-2 border-[15px] border-dark-color dark:border-light-color mx-4">
      <a href="https://ranemihirk.com/">
        <img src="../../assets/images/logo.png" alt="" class="bg-light-color aspect-square">
      </a>
    </div>
    <div class="grow">
      <div class="flex flex-wrap items-end h-full">
        <ul class="p-0 w-full">
          <li class="h-12 w-full"><a href="#about" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">About Me</a></li>
          <li class="h-12 w-full"><a href="#experience" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">Experience</a></li>
          <li class="h-12 w-full"><a href="#projects" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">Projects</a></li>
          <li class="h-12 w-full"><a href="#skills" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">Skills</a></li>
          <li class="h-12 w-full"><a href="#contact" class="flex justify-center items-center h-full w-full transition duration-150 ease-in-out cursor-pointer hover:bg-dark-color hover:text-light-color hover:dark:bg-light-color hover:dark:text-dark-color">Get in Touch</a></li>
        </ul>
        <div class="py-5 w-full">
          <h3 class="text-lg font-medium text-center subpixel-antialiased text-dark-color dark:text-light-color">Mihir Rane</h3>
        </div>
      </div>
    </div>
</aside>

<section class="main-header main-header-phone drop-shadow-md bg-light-color text-dark-color dark:bg-dark-color dark:text-light-color xl:hidden">
    <div class="header-logo-wrap w-1/4 m-auto">
        <div class="header-logo-inner-wrap">
            <a href="https://ranemihirk.com/">
                <img src="../../assets/images/logo.png" alt="" class="header-logo">
            </a>
        </div>
    </div>
</section>

<a class="scroll-top-arrow hidden" href="#home">
    <svg xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
        <path
            d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z" />
    </svg>
</a>
