<section class="wedding-section w-full" ondblclick="this.fullScreen()">
  <div
    class="container-fluid bg-[url('/assets/images/wedding.png')] h-screen bg-cover bg-center"
  >
    <div
      class="row justify-center items-center h-full bg-gradient-to-b from-black/60 to-black/60"
    >
      <div class="lg:w-1/3 text-center text-white">
        <p class="banner-text subtitle">Wedding Day</p>
        <p class="banner-text subtitle">Shivani and Mihir</p>
        <div class="title-div">
          <p class="banner-text title">17</p>
          <p class="banner-text title">Dec</p>
          <p class="banner-text title">2023</p>
        </div>
        <p class="banner-text subtitle">Mumbai</p>
        <p class="banner-text subtitle">Maharashtra</p>
      </div>
    </div>
  </div>
</section>

<nav class="text-white grid grid-cols-6 gap-2 fixed top-0 w-full p-2 hidden">
    <button class="bg-transparent">Home</button>
    <button class="bg-transparent">About</button>
    <button class="bg-transparent justify-self-end col-end-7">Information</button>
</nav>
