<div class="container-fluid">
	<div class="row">
		<div class="col-lg-2 no-padd">
			<app-header></app-header>
		</div>
		<div class="col-lg-10 no-padd">
			<main class="website-main-wrap">

				<div class="website-main-inner-wrap">
					<div class="website-main">

						<section class="main-section home-section" id="home">
							<h1 class="bn-title css-typing">
								<p>Hi,</p><br>
								<p>I'm Mihir Rane,</p><br>
								<p>Web Developer.</p>
							</h1>
							<div class="top-section-arrow">
								<!-- <FontAwesomeIcon icon="fa-solid fa-angle-down" /> -->
							</div>
							<!-- <h1 class="bn-title typing" id="typing"><span class="cursor"></span></h1> -->
						</section>

						<section class="main-section about-section" id="about">
							<div class="main-section-wrap">
								<p class="section-main-title">About</p>
								<h2 class="section-main-subtitle">Me, Myself & I</h2>
								<div class="about-desc-wrap">
									<p>Passionate web developer with experience in developing responsive and dynamic web
										applications.
										Specializing in frontend development. A quick learner and a creative problem
										solver.</p>
									<img src="../../assets/images/profile-photo.png" alt="">
								</div>
							</div>
						</section>

						<section class="main-section experience-section" id="experience">
							<div class="main-section-wrap">
								<p class="section-main-title">Experience</p>
								<h2 class="section-main-subtitle">Where I've worked</h2>
								<mat-tab-group class="section-main-tabs">
									<mat-tab label="Vidtu Ltd">
										<div class="tabs-content-wrap">
											<h2 class="designation-title">Web Developer <a class="worked-at"
													href="https://www.vidtu.com/" target="_blank">@ Vidtu Ltd.</a></h2>
											<p class="worked-period">January 2022 - Present</p>
											<ul class="worked-desc">
												<li></li>
											</ul>
										</div>
									</mat-tab>
									<mat-tab label="Crimson Interactive">
										<div class="tabs-content-wrap">
											<h2 class="designation-title">Web Developer <a class="worked-at"
													href="https://www.crimsoni.com/" target="_blank">@ Crimson
													Interactive.</a></h2>
											<p class="worked-period">April 2021 - January 2022</p>
											<ul class="worked-desc">
												<li>Trinka.ai - Platform to correct grammatical mistakes in real
													time. Also the browser extension for Chrome, Firefox and
													Edge.
												</li>
												<li>Journal Finder Report - It is an internal company integration
													in Trinka AI which displays similar articles from various
													journals based on the abstract provided.
												</li>
											</ul>
										</div>
									</mat-tab>
									<mat-tab label="Anjita IT Solutions">
										<div class="tabs-content-wrap">
											<h2 class="designation-title">Web Developer <a class="worked-at"
													href="https://www.anjitait.com/" target="_blank">@ Anjita IT
													Solutions.</a></h2>
											<p class="worked-period">July 2019 - April 2021</p>
											<ul class="worked-desc">
												<li>Standardized HTML and CSS workflow with section wise
													development and class naming convention. Converting a PSD
													file to HTML layout.</li>
												<li>Planned and developed an complete e-commerce website and
													catalogue website.
												</li>
												<li>Revamped the inventory management system for an ecommerce website.
												</li>
												<li>Proficient in CSS transitions, animations and JavaScript DOM
													manipulation</li>
												<li>Developed a PWA which utilizes browsers local storage and
													can be used in poor network conditions.
												</li>
											</ul>
										</div>
									</mat-tab>
								</mat-tab-group>
							</div>
						</section>

						<section class="main-section skills-section" id="skills">
							<div class="main-section-wrap">
								<p class="section-main-title">Skills</p>
								<h2 class="section-main-subtitle">What I bring to the table</h2>
							</div>
						</section>

						<section class="main-section git-section" id="contact">
							<div class="main-section-wrap">
								<p class="section-main-title">Contact</p>
								<h2 class="section-main-subtitle">Get in touch</h2>
							</div>
						</section>

					</div>
				</div>
				<!-- <app-footer></app-footer> -->
			</main>
		</div>
	</div>
</div>