html{
    scroll-behavior: smooth;
  }
  canvas {display: block; z-index: -1; height: 100%; width: 100%; position: fixed; top: 0; left: 0;}
  a, button, i, input, p, span, textarea {
      font-size: 1.3rem;
      font-family: Poppins,sans-serif;
      margin: 0;
  }
  .website-main-wrap{
      position: relative;
      height: 100vh;
      overflow: hidden;
      background-color: #FFF;
  }
  .website-main-inner-wrap{
      position:absolute;
      width:100%;
      overflow-y: scroll;
      top:0;
      bottom:0;
      scroll-behavior: smooth;
  }
  .website-main-inner-wrap::-webkit-scrollbar{
      display: none;
  }
  .website-main{
      /* // background-color: #000; */
  }

  .main-section{
      height: auto;
      width: 100%;
      position:relative;
      /* // height:500px;
      // margin-bottom:500px;
      // background-color: #e5ecff; */
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #dbd8e3;
      color: #2A2438;
      flex-wrap: wrap;
  }
  .top-section-arrow{
      width: 45px;
      height: 25px;
      position: absolute;
      bottom: 15px;
      font-size: 72px;
  }
  .bn-title{
    color: #2A2438;
  }

    .main-section-wrap{
      width: 100%;
      padding: 9rem 2rem;
      height: 100%;
    }
    .about-section .main-section-wrap{
      padding: 3rem 2rem;
    }

    .tabs-content-wrap{
      padding: 15px;
    }
    .worked-period{
         /* font-size: 16px; */
        font-weight: 500;
    }
    .worked-desc{
      list-style: disc;
    }
    .worked-desc li{
        margin: 8px 0;
        font-size: 1.2rem;
    }

    .worked-at{
      color: #2A2438;
      font-size: inherit;
      font-weight: 600;
    }
    .worked-at:hover{
      text-decoration: none;
      color: #2C3531;
    }

    .section-main-title{
      font-size: 1.5rem;
    }
    .section-main-subtitle{
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    .about-desc-wrap p{
      margin-bottom: 1rem;
    }
.about-section-desc{
  flex: 100%;
}
.about-section-photo{
  padding: 0 3rem;
  flex:100%;
}
.about-section-photo img{
  width: 100%;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  object-fit: cover;
}

.social-media-main-wrap{
  display: flex;
  height: 100%;
  /* width: 100%; */
  align-items: flex-end;
  justify-content: center;
}
.social-media-wrap{
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  width: 100%;
  position: fixed;
  background-color: rgba(255,255,255,.5);
    backdrop-filter: blur(5px);
    -webkit-box-shadow: 0 3px 15px rgb(0 0 0 / 20%);
}
.social-media-item{
  flex:20%;
  text-align: center;
  padding: 8px 0;
}
.social-media-item a{

}
.social-media-item a svg{
  height: 1.5rem;
}




@media (max-width:300px)  {
  /* fold devices */

}
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  .main-section{
    height: 100vh;
  }
  .main-section-wrap{
    padding: 9rem 3rem;
  }
  .about-section .main-section-wrap{
    padding: 9rem 2rem;
  }
  .about-section-photo{
    padding: 9rem 3rem;
  }
  .home-section .about-desc-wrap{
    max-width: 60%;
  }
  .section-main-title{
    font-size: 1.8rem;
  }
  .section-main-subtitle{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .about-desc-wrap p{
    margin-bottom: 1rem;
  }
  .about-section-desc{
    flex: 60%;
  }
  .about-section-photo{
    padding: 9rem 3rem;
    flex:40%;
  }
  .social-media-wrap{
    margin-bottom: 8rem;
    position: relative;
    background-color: #dbd8e3;
    -webkit-box-shadow: none;
  }
  .social-media-item{
    flex:100%;
  }
}
