<section class="time-section" ondblclick="this.fullScreen()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 datetime-div">
                <h1 id="currentTime"></h1>
                <h3 id="currentDate"></h3>
            </div>
            <div class="col-lg-12">
                <div class="global-time-div" id="worldClockDiv">
                    <div class="global-time">
                        <h3 id="ny">19 : 00</h3>
                        <h5>America/New_York</h5>
                        <p>NEW YORK</p>
                    </div>
                    <div class="global-time">
                        <h3 id="ldn">19 : 00</h3>
                        <h5>Europe/London</h5>
                        <p>LONDON</p>
                    </div>
                    <div class="global-time">
                        <h3 id="bkk">19 : 00</h3>
                        <h5>Asia/Bangkok</h5>
                        <p>BANGKOK</p>
                    </div>
                    <div class="global-time">
                        <h3 id="tpe">19 : 00</h3>
                        <h5>Asia/Taipei</h5>
                        <p>TAIWAN</p>
                    </div>
                    <div class="global-time">
                        <h3 id="syd">19 : 00</h3>
                        <h5>Australia/Sydney</h5>
                        <p>SYDNEY</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>